@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

div {
	text-size-adjust: 180px;
	/* display: none; */
	font-family: 'Rampart One', cursive;
    color: #a4b1c0;
}

.gameOver1 {
	/* display: none; */
	font-family: 'Rampart One', cursive;
        color: #a4b1c0;
}

.gameOver2 {
	/* display: none; */
	font-family: 'Rampart One', cursive;
        color: #a4b1c0;
}

#secretWordBox {
	font-family: 'Rampart One', cursive;
        color: white
}

#secretLetterGuesses {
	font-family: 'Rampart One', cursive;
        color: #a4b1c0;
}

form {
	font-family: 'Rampart One', cursive;
        color: #a4b1c0;
}

#small-window1 {
	background: #969aa6;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: stretch;
	justify-content: center;
     z-index: 3;
     display: none;
}

#small-window2 {
	background: #b5b5b5;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: stretch;
	justify-content: center;
     z-index: 3; 
     display: none;
}

#small-window3 {
	background:
#dad7cf;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: stretch;
	justify-content: center;
     z-index: 3; 
     display: none;
}


#window {
	background:#8091af;
	border-radius: 100%;
	width: 100px;
	height: 40px;
	display: flex;
	align-items: stretch;
	justify-content: center;
     z-index: 2; 
     display: none;
}

#spaceship {
	background:#a4b1c0;
	border-radius: 100%;
	width: 300px;
	height: 60px;
	display: flex;
	align-items: stretch;
	justify-content: center;
    z-index: 1; 
    display: none;
}

body{

background-color:#7787a6;

}